.total {
    margin-top: 2080px; /* Move o componente para baixo em 80px */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: flex-start; /* Alinha os itens ao topo */
    gap: 1rem; /* Espaçamento entre os itens */
    box-sizing: border-box;
    padding: 0 40px 0 0; /* Ajuste para 40px de margem direita */
}

.box-img {
    margin: 0.5rem; /* Reduzido para 0.5rem */
    width: 200px; /* Diminuído o tamanho */
    height: 200px; /* Diminuído o tamanho */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.box-text {
    margin: 0.5rem; /* Reduzido para 0.5rem */
    padding: 0.5rem; /* Reduzido para 0.5rem */
    width: 200px; /* Diminuído o tamanho */
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.box-text h2 {
    font-size: 1rem; /* Ajustado o tamanho */
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #333;
}

.box-text h3 {
    font-size: 0.8rem; /* Ajustado o tamanho */
    color: #555;
    font-weight: 400;
    margin: 0.25rem 0;
}

/* Adiciona responsividade para telas menores */
@media (max-width: 768px) {
    .total {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        justify-content: center;
    }

    .box-img,
    .box-text {
        width: 100%; /* Usa 100% da largura do contêiner */
        max-width: 350px; /* Limita a largura máxima */
    }
}
